<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microinteractions - All</title>
  </head>
  <body>
    <iframe height="400px" width="300px" src="../spark/spark.html"></iframe>
    <iframe height="400px" width="300px" src="../fizzle/fizzle.html"></iframe>
  </body>
</html>
